# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System files
.DS_Store
Thumbs.db

# Project-specific heavy runtime log files
*.log
app.log

# Deep Learning weights and checkpoints (Crucial)
*.pth
*.pt
*.ckpt
backend/model/  
backend\model\

# Virtual environments (if you create one later)
venv/
.venv/
env/